In [1]:
import pandas as pd
import numpy as np
from sys import path
path.append('../src')

from dstools.dstools import DStools as dst

In [2]:
#data = pd.read_fwf('./sample_dataset/auto-mpg.data', \
#                   names=[ 'mpg','cylinders','displacement','horsepower','weight','acceleration','year','origin','name'], \
#                   na_values='?')

data =  pd.read_csv("./sample_dataset/wages_data_iso8859.csv", encoding='ISO-8859-1')

In [3]:
ds = dst()
data.dtypes

case_number                   object
case_received_date            object
decision_date                 object
case_status                   object
employer_name                 object
employer_num_employees       float64
employer_yr_established      float64
job_education                 object
job_experience_num_months    float64
job_state                     object
job_foreign_lang_req          object
job_level                    float64
employee_citizenship          object
wage_offer                   float64
wage_unit                     object
dtype: object

In [4]:
features = ds.process_dtypes(data, tapply = False, thr=1000)

In [5]:
features.get('numfeatures')

['employer_num_employees',
 'employer_yr_established',
 'job_experience_num_months',
 'job_level',
 'wage_offer']

In [6]:
ds.check_correlations(data, features.get("numfeatures"), t=0.5)

job_level and job_experience_num_months = 0.61412

[[0.6141162849461972, 3, 2]]

In [7]:
data.corr()

,employer_num_employees,employer_yr_established,job_experience_num_months,job_level,wage_offer
employer_num_employees,1.000000,-0.020044,0.072018,-0.004260,0.000547
employer_yr_established,-0.020044,1.000000,-0.090083,0.092701,-0.061721
job_experience_num_months,0.072018,-0.090083,1.000000,0.614116,0.407562
job_level,-0.004260,0.092701,0.614116,1.000000,0.281924
wage_offer,0.000547,-0.061721,0.407562,0.281924,1.000000

In [8]:
features.get("numfeatures")[:][3],features.get("numfeatures")[:][2]

('job_level', 'job_experience_num_months')